:root {
    --bright-blue: #51e2f5;
    --blue-green: #9df9ef;
    --dusty-white: #edf7f6;
    --header-height: 0px;
}

body {
    margin: 0;
    background-color: var(--dusty-white);
}

li {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--bright-blue);
}

header div {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 1em;
}

header button {
    background-color: var(--blue-green);
    border: none;
    cursor: pointer;
    margin-right: 1em;
}

h1 {
    margin-left: 1em;
}

.container {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    background-image: url(./images/home-bread.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    min-height: calc(100vh - var(--header-height));
}

.panel, .content {
    flex: 1;
}

.content {
    padding: 2em;
    background-color: var(--dusty-white);
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75) inset;
}

#home {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home p {
    max-width: 75ch;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .5em;
}

#products img {
    mix-blend-mode: multiply;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.product {
    text-align: center;
}